<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "mybatis-3-config.dtd" >
<configuration>

  <!-- 设置别名 -->
    <typeAliases>
        <package name="filemanage.collectandorganize.vo"/>
        <package name="filemanage.collectandorganize.pojo" />
        <package name="filemanage.digitalarchives.pojo" />
        <package name="filemanage.digitalarchives.vo" />
        <package name="filemanage.systemmanage.pojo" />
        <package name="filemanage.systemmanage.vo" />
        <package name="filemanage.login.pojo" />
        <package name="filemanage.login.vo" />
        <package name="filemanage.login.util.credentials" />
        <package name="filemanage.danganmanage.pojo" />
        <package name="filemanage.danganmanage.vo" />
        <package name="filemanage.fileBorrowing.pojo" />
        <package name="filemanage.fileBorrowing.vo" />
        <package name="filemanage.inventoryandinquire.pojo" />
        <package name="filemanage.inventoryandinquire.vo" />
        <package name="filemanage.recorded.pojo" />
        <package name="filemanage.recorded.vo" />
        <package name="filemanage.statistics.pojo" />
        <package name="filemanage.statistics.vo" />
        <package name="filemanage.warehouse.pojo" />
        <package name="filemanage.warehouse.vo" />
        <package name="filemanage.warningandediting.pojo" />
        <package name="filemanage.warningandediting.vo" />
        <package name="filemanage.utils.historyFile" />
    </typeAliases>
    
 
</configuration>
