@charset "utf-8"; 
/*.layui-body{overflow-y: scroll;} 滚动条问题*/
			
			table tr th div,
			table tr td {
				text-align: center;
			}
			
			body .add_label_bg>.layui-layer-title,
			.btn_color {
				background: #EA5519;
				color: #FFFFFF;
			}
			
			.gong_color {
				color: red;
				font-weight: bold;
			}
				.Scanning_Images {
				width: 100%;
				min-height: 400px;
				background: #FFFFFF;
			}
			
			.Scanning_Images li {
				float: left;
				width: 100px;
				height: 150px;
				background: #FFFFFF;
				margin-left: 28px;
				margin-top: 15px;
				text-align: right;
				box-shadow: 0.5px 1px 3px #000;
			}
			
			.Scanning_Images li img {
				width: 100%;
				height: 80%;
			}
			
			.Scanning_Images li button {
				border: none;
				outline: none;
				background: none;
				cursor: pointer;
			}
			
			.Scanning_Images li p {
				text-align: center;
			}
			
			.viewer-container,
			.viewer-fixed,
			.viewer-fade,
			.viewer-transition,
			.viewer-in {
				z-index: 99999999999!important;
				/*弹出层与图片预览层级*/
			}
			.font_color{
				color: #EA5519;
				font-weight: 300;
			}
			#tba{
				text-align: center;
				padding: 15px 0;
			}
			.a{
			    color: #EA5519;
			    border: 1px solid #EA5519!important;
			    font-weight: bold;
			}
			.btn-a:hover {
			    color: #EA5519;
			    border: 1px solid #EA5519;
			}
			.btn-a {
			    text-align: center;
			    background: none;
			    border: 1px solid #000;
			    display: inline-block;
			    padding: 5px 7px;
			    border-radius: 5px;
			    margin: 3px;
			}
			/*查看标题*/
			
			.look-list li {
				list-style-type: none;
				float: left;
				margin: 30px;
				background: #EA5519;
				color: #FFFFFF;
				padding: 5px;
				width: 120px;
				text-align: center;
			}
			
			.table_title {
				height: 20px;
				width: 100%;
			}
			
			.table_title li {
				float: left;
				margin-left: 150px;
				font-weight: bold;
			}
			/*弹出层*/
			#bohui,#tong{
				display: none;
			}