
@charset "utf-8"; 
table tr th div,
		table tr td ,table tr,table{
			text-align: center;
			background: none;
			border: none;
		}
		table,tr,td,th,.layui-table-header{
			background: none!important;
			border: none!important;
		}
		.table_border{
			margin: 15px;
			margin-right:200px;
			border: 1px solid #ccc;
		}
		.table_title{
			color: #000000;
			padding:15px 0;
			font-weight: bold;
			text-align: left;
			border-bottom: 1px solid #000000;
		}
		
		body .add_label_bg>.layui-layer-title,.btn_color{
			background: #EA5519;
			color: #FFFFFF;
		}
		.layui-border-box{
			border-top: none;
		}
		.title_red{
			color: red;
		}
		.h4_title{
			float: left;
			line-height: 32px;
			padding:2px 34px;
			border: 1px solid #000000;
			border-radius: 5px;
			cursor: pointer;
		}
		.log_t{
			background: #FFFFFF;
			padding: 15px;
		}
		#bg{
			height:700px;
			background: url(/filemanage/imgs/bg2.png) no-repeat center;
		    
		}
		.nav_list{
			width: 150px;
			height: 415px;
			text-align: center;
			margin-top: 15px;
			margin-left: 15px;
			padding: 15px;
			padding-top: 50px;
			border: 1px solid #CCCCCC;
			border-top: 2px solid #CCCCCC;
			border-bottom: none;
			
		}
		.nav_list li{
			width: 150px;
			padding: 10px 0px;
			margin: 15px 0;
			border: 1px solid #000000;
			border-radius: 5px;
			cursor: pointer;
			background: #000000;
			color: #FFFFFF;

		}
		.nav_list li i{
			color: #FFFFFF;
			padding-left:15px;
		}
		.nav_list li:hover{
			background: none;
			border: none;
			color: #000000;
		}
		#layui-table-page1{
			text-align: center;
		}
		/*弹出层*/
		.layui-layer-btn{
			text-align: center!important;
			/*layui-layer-btn0*/
		}
		#select{
			width: 200px;
			padding: 9px 0px;
		    font-size: 14px;
		    line-height: 1.42857143;
		    color: #555;
		    background-color: #fff;
		    background-image: none;
		    border: 1px solid #ccc;
		    border-radius: 4px;
		}
		#select2{
			width: 200px;
			padding: 9px 0px;
		    font-size: 14px;
		    line-height: 1.42857143;
		    color: #555;
		    background-color: #fff;
		    background-image: none;
		    border: 1px solid #ccc;
		    border-radius: 4px;
		}
		
	/* 	#layui-layer-shade1,#layui-layer1{
				z-index:998!important;
			} */