 h3.title {
 	color: #F0F2F9;
 	font-size: 12px;
 	margin-bottom: 3em;
 	text-align: center;
 	font-weight: 500;
 	line-height: 1.1;
 }
 
 h3.title span {
 	display: block;
 	/*设置为块级元素会独占一行形成上下居中的效果*/
 	font-size: 12px;
 	color: #FFFFFF;
 	position: relative;
 	/*定位横线（当横线的父元素）*/
 }
 
 h3.title span:before,
 h3.title span:after {
 	content: '';
 	/*CSS伪类用法*/
 	position: absolute;
 	/*定位背景横线的位置*/
 	top: 52%;
 	background: #EA5519;
 	/*宽和高做出来的背景横线*/
 	width: 40%;
 	height: 1px;
 }
 
 h3.title span:before {
 	left: 0%;
 	/*调整背景横线的左右距离*/
 }
 
 h3.title span:after {
 	right: 0%;
 }
 
 .login_box {
 	padding: 10% 0;
 }
 
 #register>div {
 	margin-bottom: 30px;
 }
 
 .register_text {
 	margin-top: 7px;
 	color: #EA5519;
 }
 
 .layadmin-user-login {
 	padding: 30px 0;
 }
 
 .layui-form-checkbox {
 	height: 20px;
 	padding-right: 20px;
 	line-height: 20px;
 }
 
 .layui-form-checkbox i {
 	width: 23px;
 }