<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="filemanage.inventoryandinquire.dao.CascadingMapper">
	<resultMap type="filemanage.systemmanage.pojo.SecondryClassFication" id="secondryClassFicationMap">
		<id property="scId" column="SC_ID" jdbcType="VARCHAR"/>
		<result property="scName" column="SC_NAME" jdbcType="VARCHAR"/>
	</resultMap>
	
	<resultMap type="filemanage.systemmanage.pojo.PrimaryClassFication" id="primaryClassFicationMap">
		<id property="pcId" column="PC_ID" jdbcType="VARCHAR"/>
		<result property="pcName" column="PC_NAME" jdbcType="VARCHAR"/>
	</resultMap>
	
	<!-- 查询所有的一级分类-->
    <select id="getPrimaryClassList"  resultMap="primaryClassFicationMap">
      SELECT DISTINCT PC_ID,PC_NAME FROM AM_MA_SM_PRIMARYCLASSIFICATION ORDER BY PC_ID
    </select>
	
	<select id="getSecondryClassListByPcId" resultMap="secondryClassFicationMap">
		SELECT 
		DISTINCT SC_ID,SC_NAME 
		FROM AM_MA_SM_SCLASSIFICATION 
		WHERE PC_ID=#{pcId,jdbcType=VARCHAR}
	</select>
</mapper>